.main-color {
    color: #448AFF;
}

.background-color {
    background-color: #BCEDF6;
}

.accent-0 {
    color: #59F8E8;
}

.contrast-0 {
    color: #C1CFDA;
}

.success-0 {
    color: #0f0;
}

.transparent-0 {
    color: #c1c1c1;
}